*{
    margin: 0;
    padding: 0;
}


/* navbar */
.navbar{
    /* border: 3px solid red; */
    background-color: white;
    border-bottom: 2px solid rgb(89, 87, 87);
    display: flex;
    height: 96px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar ul{
    display: flex;
    margin: auto;
}
.navbar ul li{
    list-style: none;
    align-items: center;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    margin: 0px 45px;
    color: black;
}

.home{
    display: flex;
}
.home img{
    width: 48%;
    margin-right: 72px;
    margin-top: 29px;
}
.details{
    margin-left: 76px;
    margin-top: 122px;
}
.details h3{
    font-size: 2rem;
}
.details p{
    margin-top: 21px;
    font-size: 1.2rem;
}