.about-us .container {
    margin: 2px 95.5px 0 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .about-us .container-1 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .about-us .container-2 {
    margin: 33px 0 47px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 511px;
    height: fit-content;
    box-sizing: border-box;
  }
  .about-us {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 25px 117px 177px 37px;
    width: 1440px;
    box-sizing: border-box;
  }
  .about-us .rectangle-8 {
    border-radius: 0 0 0 224px;
    background: rgba(43, 182, 217, 0.36);
    position: relative;
    margin-bottom: 56.3px;
    width: 451.4px;
    height: 476.7px;
  }
  .about-us .frame-1 {
    box-shadow: 0px 10px 6px 0px rgba(0, 138, 170, 0.23);
    border-radius: 8px;
    background: #008AAA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    padding: 8px 0;
    width: 189px;
    box-sizing: border-box;
  }
  .about-us .hire-us {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
  }
  .about-us .tensiletech-1 {
    background: url('../assets/images/tensiletech1.png') 50% / cover no-repeat;
    width: 233px;
    height: 108px;
  }
  .about-us .about-us-1 {
    margin-right: 14px;
    width: 117px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 19px;
    color: #D1884F;
  }
  .about-us .our-team {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .about-us .our-services {
    margin-right: 26.2px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .about-us .contact-us {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .about-us .about-us-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-sollicitudin-ut-augue-netus-fusce-fringilla-aliquam-blandit-enim-odio-cursus-id-pulvinar-commodo-pellentesque-non-massa-nunc-massa-nisi-est-id-diam-est-molestie-massa-commodo-pulvinar-aliquam-arcu-gravida {
    margin-bottom: 121px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 40px;
    color: #000000;
  }
  .about-us-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-sollicitudin-ut-augue-netus-fusce-fringilla-aliquam-blandit-enim-odio-cursus-id-pulvinar-commodo-pellentesque-non-massa-nunc-massa-nisi-est-id-diam-est-molestie-massa-commodo-pulvinar-aliquam-arcu-gravida {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.333;
    color: #000000;
  }
  .about-us-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-sollicitudin-ut-augue-netus-fusce-fringilla-aliquam-blandit-enim-odio-cursus-id-pulvinar-commodo-pellentesque-non-massa-nunc-massa-nisi-est-id-diam-est-molestie-massa-commodo-pulvinar-aliquam-arcu-gravida-sub45 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
  }
  .about-us-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-sollicitudin-ut-augue-netus-fusce-fringilla-aliquam-blandit-enim-odio-cursus-id-pulvinar-commodo-pellentesque-non-massa-nunc-massa-nisi-est-id-diam-est-molestie-massa-commodo-pulvinar-aliquam-arcu-gravida-sub47 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
    color: #70D1B9;
  }
  .about-us-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-sollicitudin-ut-augue-netus-fusce-fringilla-aliquam-blandit-enim-odio-cursus-id-pulvinar-commodo-pellentesque-non-massa-nunc-massa-nisi-est-id-diam-est-molestie-massa-commodo-pulvinar-aliquam-arcu-gravida-sub89 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
    color: #008AAA;
  }
  .about-us-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-sollicitudin-ut-augue-netus-fusce-fringilla-aliquam-blandit-enim-odio-cursus-id-pulvinar-commodo-pellentesque-non-massa-nunc-massa-nisi-est-id-diam-est-molestie-massa-commodo-pulvinar-aliquam-arcu-gravida-sub90 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
    color: #D1884F;
  }
  .about-us .tensiletech-2 {
    background: url('../assets/images/tensiletech1.png');
    position: absolute;
    top: 22px;
    right: 121.4px;
    width: 272px;
    height: 278px;
  }
  .about-us .ech {
    position: absolute;
    right: 142.4px;
    bottom: 164.4px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 40px;
    color: #E05D5C;
  }
  .about-us .t {
    position: absolute;
    right: 205.5px;
    bottom: 143px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 107px;
    background: linear-gradient(180.17deg, #00154A 31.8%, #E05D5C 99.8%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .about-us .ensile {
    position: absolute;
    right: 65.4px;
    bottom: 198.6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 40px;
    color: #00154A;
  }
  .about-us .container-3 {
    margin-bottom: 181px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1286px;
    box-sizing: border-box;
  }
  .about-us .container-4 {
    position: relative;
    margin: 0 86px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }


  .our-team .rectangle-23381 {
    background: #D9D9D9;
    width: 88px;
    height: 28px;
  }
  .our-team .rectangle-23382 {
    background: #D9D9D9;
    margin-top: 2px;
    width: 123px;
    height: 26px;
  }
  .our-team .rectangle-23383 {
    background: #D9D9D9;
    margin-top: 1px;
    width: 130px;
    height: 27px;
  }
  .our-team .rectangle-23384 {
    background: #D9D9D9;
    width: 448px;
    height: 92px;
  }
  .our-team .im-apassionate-developer-contributing-my-skills-to-tensile-tech {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
  }
  .our-team .group-32 {
    border-radius: 36px;
    border: 0.7px solid #000000;
    background: url('../assets/images/rectangle44.png') 50% / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 299px 26.4px 29.5px 0;
    width: 270.8px;
    height: fit-content;
    box-sizing: border-box;
  }
  .our-team .rectangle-10 {
    backdrop-filter: blur(4.5px);
    background: linear-gradient(275.36deg, #D1884F 106.3%, #3BBADB 205.1%) content-box, linear-gradient(276.08deg, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0) 203.9%) border-box;
    border: 1px solid transparent;
    position: absolute;
    left: 50%;
    top: 289px;
    translate: -50% 0;
    width: 222px;
    height: 74px;
  }
  .our-team .im-apassionate-developer-contributing-my-skills-to-tensile-tech-1 {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
  }
  .our-team .group-33 {
    position: relative;
    align-self: flex-end;
    padding: 10px 18px 0 18px;
    width: fit-content;
    box-sizing: border-box;
  }
  .our-team .rectangle-101 {
    backdrop-filter: blur(4.5px);
    background: linear-gradient(275.36deg, #D1884F 106.3%, #3BBADB 205.1%) content-box, linear-gradient(276.08deg, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0) 203.9%) border-box;
    border: 1px solid transparent;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 222px;
    height: 74px;
  }
  .our-team .im-apassionate-developer-contributing-my-skills-to-tensile-tech-2 {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
  }
  .our-team .group-29 {
    position: relative;
    margin-bottom: 169px;
    align-self: flex-end;
    padding: 10px 18px 0 18px;
    width: fit-content;
    box-sizing: border-box;
  }
  .our-team .rectangle-102 {
    backdrop-filter: blur(4.5px);
    background: linear-gradient(275.36deg, #D1884F 106.3%, #3BBADB 205.1%) content-box, linear-gradient(276.08deg, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0) 203.9%) border-box;
    border: 1px solid transparent;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 222px;
    height: 74px;
  }
  .our-team .im-apassionate-developer-contributing-my-skills-to-tensile-tech-3 {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
  }
  .our-team .group-30 {
    border-radius: 36px;
    border: 0.7px solid #000000;
    background: url('../assets/images/rectangle41.png') 50% / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 310px 16.4px 18.5px 0;
    width: 270.8px;
    height: fit-content;
    box-sizing: border-box;
  }
  .our-team .rectangle-103 {
    backdrop-filter: blur(4.5px);
    background: linear-gradient(275.36deg, #D1884F 106.3%, #3BBADB 205.1%) content-box, linear-gradient(276.08deg, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0) 203.9%) border-box;
    border: 1px solid transparent;
    position: absolute;
    top: 300px;
    right: 19.8px;
    width: 222px;
    height: 74px;
  }
  .our-team .im-apassionate-developer-contributing-my-skills-to-tensile-tech-4 {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
  }
  .our-team .group-31 {
    position: relative;
    margin: 0 4px 176px 4px;
    align-self: flex-end;
    padding: 10px 18px 0 18px;
    width: fit-content;
    box-sizing: border-box;
  }
  .our-team .rectangle-104 {
    backdrop-filter: blur(4.5px);
    background: linear-gradient(275.36deg, #D1884F 106.3%, #3BBADB 205.1%) content-box, linear-gradient(276.08deg, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0) 203.9%) border-box;
    border: 1px solid transparent;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 222px;
    height: 74px;
  }
  .our-team .group-1000002112 {
    position: absolute;
    left: 261px;
    top: 681px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20px;
    height: 16px;
    box-sizing: border-box;
  }
  .our-team .vector {
    width: 20px;
    height: 16px;
  }
  .our-team .group-1000002114 {
    position: absolute;
    top: 678px;
    right: 391.7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 18px;
    height: 20.2px;
    box-sizing: border-box;
  }
  .our-team .vector-1 {
    width: 18px;
    height: 20.2px;
  }
  .our-team .group-1000002113 {
    position: absolute;
    left: 481px;
    top: 684px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 18px;
    height: 17px;
    box-sizing: border-box;
  }
  .our-team .vector-2 {
    width: 18px;
    height: 17px;
  }
  .our-team .amrutha-v {
    position: absolute;
    top: 589px;
    right: 417.6px;
    overflow-wrap: break-word;
    font-family: 'Literata';
    font-weight: 400;
    font-size: 37px;
    color: #FFFFFF;
  }
  .our-team .group-18 {
    border-radius: 10px;
    background: #D1884F;
    position: absolute;
    left: 443px;
    top: 856px;
    padding: 8px 18px 7px 18px;
    width: 114px;
    box-sizing: border-box;
  }
  .our-team .resume {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
  }
  .our-team .ui-designer {
    position: absolute;
    top: 647px;
    right: 449.3px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 26px;
    color: #D1884F;
  }
  .our-team .group-15 {
    position: absolute;
    top: 681px;
    right: 278px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 486.7px;
    box-sizing: border-box;
  }
  .our-team .group-10000021131 {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }
  .our-team .container {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
  }
  .our-team .group-10000021141 {
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }
  .our-team .bangalore-india {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
  }
  .our-team .group-10000021121 {
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }
  .our-team .amruthav-903-gmail-com {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .our-team .container {
    border-radius: 36px;
    background: linear-gradient(180.08deg, #008AAA, rgba(59, 186, 219, 0.55));
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 161.9px 30.7px 22.5px 0;
    width: 801.7px;
    box-sizing: border-box;
  }
  .our-team .container-1 {
    margin-bottom: 126px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1286px;
    box-sizing: border-box;
  }
  .our-team {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 25px 117px 111.5px 37px;
    width: 1440px;
    box-sizing: border-box;
  }
  .our-team .tensiletech-1 {
    background: url('../assets/images/tensiletech1.png') 50% / cover no-repeat;
    width: 233px;
    height: 108px;
  }
  .our-team .about-us {
    margin-right: 14px;
    width: 117px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .our-team .our-team-1 {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 19px;
    color: #D1884F;
  }
  .our-team .our-services {
    margin-right: 26.2px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .our-team .contact-us {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .our-team .our-team-2 {
    margin: 0 55px 144px 55px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    color: #D1884F;
  }
  .our-team-2 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
    color: #008AAA;
  }
  .our-team .team {
    border-radius: 36px;
    position: relative;
    margin: 0 106px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0 24.7px 20.5px 0;
    width: 1052.7px;
    box-sizing: border-box;
  }
  .our-team .group-2 {
    border-radius: 36px;
    position: relative;
    margin-bottom: 397.5px;
    align-self: flex-start;
    width: 801.7px;
    box-sizing: border-box;
  }
  .our-team .group-4 {
    border-radius: 36px;
    position: relative;
    margin-bottom: 390.5px;
    align-self: flex-start;
    width: 801.7px;
    box-sizing: border-box;
  }
  .our-team .rectangle-31 {
    border-radius: 36px;
    background: linear-gradient(180.08deg, #008AAA, rgba(59, 186, 219, 0.53));
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    width: 801.7px;
    height: 318.4px;
  }
  .our-team .group-6 {
    border-radius: 36px;
    position: relative;
    margin-bottom: 395.5px;
    align-self: flex-start;
    width: 801.7px;
    box-sizing: border-box;
  }
  .our-team .rectangle-32 {
    border-radius: 36px;
    background: linear-gradient(180.08deg, #008AAA, rgba(59, 186, 219, 0.54));
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    width: 801.7px;
    height: 318.4px;
  }
  .our-team .group-3 {
    border-radius: 36px;
    position: absolute;
    top: 498px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 82.1px;
    width: 801.7px;
    height: 400.5px;
    box-sizing: border-box;
  }
  .our-team .rectangle-33 {
    border-radius: 36px;
    background: linear-gradient(180.08deg, #008AAA, rgba(59, 186, 219, 0.53));
    position: relative;
    width: 801.7px;
    height: 318.4px;
  }
  .our-team .rectangle-43 {
    border-radius: 36px;
    border: 0.7px solid #000000;
    background: url('../assets/images/rectangle45.png') 50% / cover no-repeat;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 270.8px;
    height: 400.5px;
  }
  .our-team .group-5 {
    border-radius: 36px;
    position: absolute;
    right: 0px;
    bottom: 1049px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 82.1px 0 0px 0;
    width: 801.7px;
    height: 400.5px;
    box-sizing: border-box;
  }
  .our-team .rectangle-34 {
    border-radius: 36px;
    background: linear-gradient(180.08deg, #008AAA, rgba(59, 186, 219, 0.53));
    position: relative;
    width: 801.7px;
    height: 318.4px;
  }
  .our-team .rectangle-44 {
    border-radius: 36px;
    border: 0.7px solid #000000;
    background: url('../assets/images/rectangle42.png') 50% / cover no-repeat;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 270.8px;
    height: 400.5px;
  }
  .our-team .group-7 {
    border-radius: 36px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 82.1px;
    width: 801.7px;
    height: 400.5px;
    box-sizing: border-box;
  }
  .our-team .rectangle-35 {
    border-radius: 36px;
    background: linear-gradient(180.08deg, #008AAA, rgba(59, 186, 219, 0.47));
    position: relative;
    width: 801.7px;
    height: 318.4px;
  }
  .our-team .rectangle-45 {
    border-radius: 36px;
    border: 0.7px solid #000000;
    background: url('../assets/images/rectangle4.png') 50% / cover no-repeat;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 270.8px;
    height: 400.5px;
  }
  .our-team .group-23 {
    border-radius: 36px;
    border: 0.7px solid #000000;
    background: url('../assets/images/rectangle43.png') 50% / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 289px 16.4px 39.5px 0;
    width: 270.8px;
    height: fit-content;
    box-sizing: border-box;
  }
  .our-team .rectangle-105 {
    backdrop-filter: blur(4.5px);
    background: linear-gradient(275.36deg, #D1884F 106.3%, #3BBADB 205.1%) content-box, linear-gradient(276.08deg, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0) 203.9%) border-box;
    border: 1px solid transparent;
    position: absolute;
    top: 279px;
    right: 19.8px;
    width: 222px;
    height: 74px;
  }
  .our-team .im-apassionate-developer-contributing-my-skills-to-tensile-tech-5 {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
  }
  .our-team .container-2 {
    margin: 0 6px 14px 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 438px;
    box-sizing: border-box;
  }
  .our-team .container-3 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .our-team .container-4 {
    margin: 33px 0 47px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 511px;
    height: fit-content;
    box-sizing: border-box;
  }


  .our-services .container {
    margin: 33px 0 47px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 511px;
    height: fit-content;
    box-sizing: border-box;
  }
  .our-services .container-1 {
    margin-right: 11.3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45.7px;
    box-sizing: border-box;
  }
  .our-services .container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 237.8px;
    box-sizing: border-box;
  }
  .our-services .container-3 {
    margin: 0 33px 68px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1286px;
    box-sizing: border-box;
  }
  .our-services {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 25px 84px 154px 37px;
    width: 1440px;
    box-sizing: border-box;
  }
  .our-services .tensiletech-1 {
    background: url('../assets/images/tensiletech1.png') 50% / cover no-repeat;
    width: 233px;
    height: 108px;
  }
  .our-services .about-us {
    margin-right: 14px;
    width: 117px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .our-services .our-team {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .our-services .our-services-1 {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 19px;
    color: #D1884F;
  }
  .our-services .contact-us {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .our-services .our-services-2 {
    position: relative;
    margin: 0 78px 68.3px 78px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 40px;
    color: #000000;
  }
  .our-services-2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.333;
    color: #000000;
  }
  .our-services-2-sub45 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
  }
  .our-services-2-sub47 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
    color: #70D1B9;
  }
  .our-services-2-sub90 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
    color: #D1884F;
  }
  .our-services-2-sub96 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
    color: #008AAA;
  }
  .our-services .group-1000002007 {
    border: 1px solid #00154A;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 38px;
    width: 237.8px;
    box-sizing: border-box;
  }
  .our-services .rectangle-23017 {
    border: 1px solid #00154A;
    background: #FFBF37;
    margin-bottom: 10.5px;
    width: 237.8px;
    height: 7px;
  }
  .our-services .group-1000002008 {
    border: 1px solid #00154A;
    background: #FFFFFF;
    position: relative;
    margin-bottom: 94px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 16px;
    width: 237.8px;
    box-sizing: border-box;
  }
  .our-services .rectangle-230171 {
    border: 1px solid #00154A;
    background: #FFBF37;
    margin-bottom: 10px;
    width: 237.8px;
    height: 7px;
  }
  .our-services .designing {
    margin: 0 109.6px 46.5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: '?????', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #181818;
  }
  .our-services .development {
    margin: 0 82.7px 23px 0;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: '?????', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #181818;
  }
  .our-services .image-171 {
    background: url('../assets/images/image171.png') 50% / cover no-repeat;
    margin: 0.5px 27.6px 0px 0;
    width: 56.4px;
    height: 56.4px;
  }
  .our-services .image-172 {
    background: url('../assets/images/image172.png') 50% / cover no-repeat;
    margin: 24.5px 27.9px 22px 0;
    width: 56.4px;
    height: 56.4px;
  }
  .our-services .line-790 {
    background: #3BBADB;
    margin: 0 0 81px 74px;
    width: 1245px;
    height: 4px;
  }
  .our-services .group-12 {
    margin: 17px 40px 60px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .our-services .group-10 {
    position: relative;
    padding: 48.3px 0 44px 0;
    width: 329px;
    box-sizing: border-box;
  }
  .our-services .what-we-do {
    backdrop-filter: blur(38.8px);
    border-radius: 144.4px;
    background: linear-gradient(143.86deg, #3BBADB 6.7%, rgba(149, 154, 154, 0.1) 92.2%);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 117.7px 3.5px 15px 24px;
    box-sizing: border-box;
  }
  .our-services .ellipse-3 {
    border-radius: 119.9px;
    background: #3BBADB;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 239.8px;
    height: 239.8px;
  }
  .our-services .what-we-do-1 {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 33.8px;
    color: #000000;
  }
  .what-we-do-1 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.333;
    color: #000000;
  }
  .what-we-do-1-sub11 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
    color: #000000;
  }
  .what-we-do-1-sub8 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 40px;
    line-height: 1.333;
  }
  .our-services .line-1 {
    background: #000000;
    position: absolute;
    left: 50%;
    top: 136.8px;
    translate: -50% 0;
    width: 0.8px;
    height: 2.5px;
  }
  .our-services .line-2 {
    transform: rotate(-17.642deg);
    margin: 0 1px 46px 0;
    width: 283px;
    height: 90px;
  }
  .our-services .line-3 {
    transform: rotate(16.662deg);
    width: 284px;
    height: 85px;
  }
  .our-services .group-1000002109 {
    margin: 0 80.4px 204.4px 80.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .our-services .heading-5-frontend-development {
    margin: 0 13.7px 7.3px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 19.2px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #000000;
  }
  .our-services .were-here-to-assist-you-in-planning-and-bringing-your-ideas-to-life-through-prototypes-and-wireframes-we-offer-expert-wireframing-services-to-kickstart-your-digital-projects-with-clarity-and-precision-our-wireframes-serve-as-the-foundational-blueprints-guiding-the-entire-design-and-development-process {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #000000;
  }
  .were-here-to-assist-you-in-planning-and-bringing-your-ideas-to-life-through-prototypes-and-wireframes-we-offer-expert-wireframing-services-to-kickstart-your-digital-projects-with-clarity-and-precision-our-wireframes-serve-as-the-foundational-blueprints-guiding-the-entire-design-and-development-process-sub7 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.333;
  }
  .our-services .rectangle-14 {
    background: url('../assets/images/rectangle14.png') 50% / cover no-repeat;
    width: 58px;
    height: 57px;
  }
  .our-services .image-134 {
    background: url('../assets/images/image134.png') 50% / cover no-repeat;
    margin-bottom: 13px;
    width: 45.7px;
    height: 45px;
  }
  .our-services .image-135 {
    background: url('../assets/images/image135.png') 50% / cover no-repeat;
    margin: 0 3px 13px 0;
    width: 45px;
    height: 45px;
  }
  .our-services .image-136 {
    background: url('../assets/images/image136.png') 50% / cover no-repeat;
    margin-right: 0.7px;
    width: 45px;
    height: 45px;
  }
  .our-services .image-137 {
    background: url('../assets/images/image137.png') 50% / cover no-repeat;
    margin-left: 3px;
    width: 45px;
    height: 45px;
  }
  .our-services .group-1000001998 {
    position: absolute;
    top: 349.1px;
    right: 139px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .our-services .div-service-item {
    border-radius: 10px;
    margin: 24.6px 107.8px 33.5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .our-services .heading-5-technical-writing {
    margin: 0 0 14.5px 12.4px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 19.2px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #000000;
  }
  .our-services .ph-2-dad-0-b-3-eb-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }
  .our-services .we-specialize-in-crafting-exceptional-digital-solutions-tailored-to-your-unique-needs-with-our-coding-and-development-services-we-transform-ideas-into-robust-scalable-and-user-friendly-applications {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #000000;
  }
  .our-services .flowbitecode-outline {
    margin: 0 0 14.2px 32.2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 53.3px;
    height: 46.7px;
    box-sizing: border-box;
  }
  .our-services .vector {
    width: 53.3px;
    height: 46.7px;
  }
  .our-services .div-service-item-1 {
    border-radius: 10px;
    margin-top: 28.9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .our-services .heading-5-technical-writing-1 {
    margin: 0 0 24px 4.2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 19.2px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #000000;
  }
  .our-services .ph-2-dad-0-b-3-eb-31 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }
  .our-services .we-believe-that-the-true-measure-of-success-lies-in-sustained-growth-and-evolution-our-deployment-and-maintenance-services-not-only-ensure-the-smooth-launch-of-your-digital-product-but-also-lay-the-groundwork-for-its-continuous-improvement-and-adaptation-to-changing-needs {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #000000;
  }
  .our-services .vector-1 {
    margin: 0 0 8.5px 0.8px;
    width: 48.4px;
    height: 50px;
  }
  .our-services .group-10000021091 {
    margin: 0 180.4px 224.4px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 69.7px;
    height: 72px;
    box-sizing: border-box;
  }
  .our-services .openmojiwireframes {
    width: 69.7px;
    height: 72px;
  }
  .our-services .container-4 {
    margin: 91px 0 69px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 284px;
    height: fit-content;
    box-sizing: border-box;
  }
  .our-services .container-5 {
    margin-right: 104.2px;
    display: flex;
    flex-direction: row;
    align-self: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .our-services .container-6 {
    margin-right: 43.8px;
    display: flex;
    flex-direction: row;
    width: 142px;
    box-sizing: border-box;
  }
  .our-services .container-7 {
    margin: 0 22.8px;
    display: flex;
    flex-direction: row;
    width: 189.3px;
    box-sizing: border-box;
  }
  .our-services .container-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48px;
    box-sizing: border-box;
  }
  .our-services .container-9 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 381px;
  }


  .contact-us .group {
    margin: 0 36.3px 1.3px 0;
    width: 37.7px;
    height: 37.7px;
  }
  .contact-us .container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-us .container-1 {
    margin: 33px 0 47px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 513.2px;
    height: fit-content;
    box-sizing: border-box;
  }
  .contact-us .container-2 {
    margin: 0 54px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-us .container-3 {
    margin-bottom: 45.3px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-us .container-4 {
    position: relative;
    margin-bottom: 222px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .contact-us {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 25px 114.8px 106px 37px;
    width: 1440px;
    box-sizing: border-box;
  }
  .contact-us .were-open-for-any-suggestion-or-just-to-have-achat {
    margin: 0 5px 83px 5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
  }
  .contact-us .tensiletech-1 {
    background: url('../assets/images/tensiletech1.png') 50% / cover no-repeat;
    width: 233px;
    height: 108px;
  }
  .contact-us .about-us {
    margin-right: 14px;
    width: 117px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .contact-us .our-team {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .contact-us .our-services {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 19px;
    color: #000000;
  }
  .contact-us .contact-us-1 {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 19px;
    color: #D1884F;
  }
  .contact-us .contact-with-us {
    margin-bottom: 44px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 48px;
    color: #000000;
  }
  .contact-with-us {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.333;
  }
  .contact-with-us-sub15 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.333;
    color: #008AAA;
  }
  .contact-us .lets-get-in-touch {
    margin: 0 5px 7px 5px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    color: #000000;
  }
  .lets-get-in-touch {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.333;
    color: #D1884F;
  }
  .lets-get-in-touch-sub15 {
    font-family: 'Literata';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.333;
  }
  .contact-us .masterborderdefault {
    border-radius: 20px;
    position: relative;
    margin: 0 1px 43px 0;
    padding: 18px 31px 19px 31px;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-us .rectangle-9 {
    border-radius: 5.2px;
    border: 1.3px solid #000000;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 419px;
    height: 62px;
  }
  .contact-us .name {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16.7px;
    color: #716868;
  }
  .contact-us .masterborderdefault-1 {
    border-radius: 20px;
    position: relative;
    margin: 0 0 59px 1px;
    padding: 20px 31px 17px 31px;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-us .rectangle-91 {
    border-radius: 5.2px;
    border: 1.3px solid #000000;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 419px;
    height: 62px;
  }
  .contact-us .email {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16.7px;
    color: #716868;
  }
  .contact-us .message {
    position: relative;
    margin: 0 31px 129px 31px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16.7px;
    color: #716868;
  }
  .contact-us .rectangle-92 {
    border-radius: 20px;
    border: 1.3px solid #000000;
    position: absolute;
    left: 0px;
    bottom: 97px;
    width: 419px;
    height: 139px;
  }
  .contact-us .send-and-connect {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16.7px;
    color: #002451;
  }
  .contact-us .tensile-tech {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 26px;
    color: #000000;
  }
  .contact-us .group-1000001980 {
    margin: 2px 35.5px 1.6px 0;
    width: 44.5px;
    height: 35.4px;
  }
  .contact-us .tensile-tech-1 {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 26px;
    color: #000000;
  }
  .contact-us .group-1 {
    margin-right: 36px;
    width: 44px;
    height: 46.7px;
  }
  .contact-us .tensile-tech-2 {
    margin-bottom: 7.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 26px;
    color: #000000;
  }
  .contact-us .group-2 {
    margin: 0 36px 1.7px 0;
    width: 44px;
    height: 47.3px;
  }
  .contact-us .tensile-tech-3 {
    margin-top: 10px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 26px;
    color: #000000;
  }
  .contact-us .container-5 {
    border-radius: 10px;
    background: #3BBADB;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    padding: 16px 23.5px 13px 0;
    width: 250px;
    box-sizing: border-box;
  }
  .contact-us .container-6 {
    margin-bottom: 59px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .contact-us .container-7 {
    background: rgba(59, 186, 219, 0.59);
    position: relative;
    margin-right: 173px;
    display: flex;
    flex-direction: column;
    padding: 28px 0 218px 39px;
    width: 587px;
    box-sizing: border-box;
  }
  .contact-us .container-8 {
    margin-bottom: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1288.2px;
    box-sizing: border-box;
  }
  .contact-us .container-9 {
    margin: 0 6px 50px 6px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }